*{
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

/* HERO SECTION */
.hero{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#F0FDFA; /* light teal bg (matches HealthSetu theme) */
}


/* Fade overlay */
.hero-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    to right,
    rgba(240,253,250,0.95),
    rgba(240,253,250,0.6),
    rgba(240,253,250,0.2)
  );
}

/* Content layout */
.hero-content{
  width:90%;
  max-width:1200px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.highlight{
  color:#1ABC9C;
}

/* LEFT SIDE TEXT */
.hero-left{
  flex:1;
}

.hero-left h1{
  font-size:68px;
  font-weight:800;
  line-height:1.1;
  color:#0F766E;
}

.hero-left .highlight{
  color:#000000;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 120px;
  font-weight: 700;
  font-style: normal;
}

/* Sub text */
.hero-subtext{
  margin-top:18px;
  font-size:18px;
  color:#a8a8a8;
}

/* CTA button */
.hero-btn{
  margin-top:30px;
  padding:14px 28px;
  background:#10ad8e;
  border:none;
  color:white;
  font-size:16px;
  font-weight:600;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}


.hero-btn:hover{
  background:#0F766E;
}

.hero-right{
  flex:1;
  display:flex;
  justify-content:flex-end;
}

.hero-image{
  width:450px;
  max-width:100%;
}


/* 📱 MOBILE */
@media (max-width:768px){

  .hero{
    padding:80px 0;
    background: transparent;
    margin: 0px;
  }

  .hero-left h1{
    font-size:36px;
  }

  .hero-subtext{
    font-size:16px;
  }

  .hero-content{
    justify-content:center;
    text-align:center;
  }
}
