/* Sidebar */
.sidebar{
  width:240px;
  background:#0F766E;
  color:white;
  padding:25px 18px;
  display:flex;
  flex-direction:column;
  gap:12px;
  transition:0.3s ease;
}

.brand{
  font-size:22px;
  font-weight:700;
  margin-bottom:25px;
}

.side-link{
  background:transparent;
  border:none;
  color:white;
  text-align:left;
  padding:12px 14px;
  border-radius:10px;
  cursor:pointer;
  font-size:15px;
}

.side-link:hover{
  background:rgba(255,255,255,0.15);
}

.side-link.active{
  background:#1ABC9C;
}

/* Hamburger */
.hamburger{
  display:none;
  font-size:28px;
  padding:12px 16px;
  cursor:pointer;
  background:#0F766E;
  color:white;
}

/* Close button */
.close-btn{
  display:none;
  font-size:24px;
  cursor:pointer;
  align-self:flex-end;
  margin-bottom:10px;
}

/* Mobile top bar */
.mobile-topbar{
  display:none;
  justify-content:space-between;
  align-items:center;
  background:#0F766E;
  padding:10px 14px;
  color:white;
}

/* Profile circle */
.icon-circle{
  width:52px;
  height:52px;
  background:#1ABC9C;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
}

.profile-circle{
  margin-left:auto;   /* pushes completely right */
  margin-right:0;     /* no gap on right */
  box-shadow:0 0 0 6px rgba(26,188,156,0.25);
  cursor:pointer;
  transition:0.2s ease;
}

.profile-icon{
  font-size:26px;
  cursor:pointer;
}

.profile-circle:active{
  transform:translateX(-50%) scale(0.95);
}

/* Profile dropdown */
.profile-menu{
  display:none;
  position:absolute;
  top:55px;
  right:12px;
  background:white;
  color:#0F766E;
  border-radius:12px;
  padding:14px;
  width:180px;
  box-shadow:0 5px 15px rgba(0,0,0,0.15);
  z-index:2000;
}



.profile-menu p{
  margin:4px 0;
}

.p-name{
  font-weight:700;
}


.p-email{
  font-size:13px;
  color:#555;
  margin-bottom:10px;
}

.profile-btn{
  width:100%;
  padding:8px;
  margin-top:6px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#1ABC9C;
  color:white;
  font-size:14px;
}

.profile-btn.logout{
  background:#e74c3c;
}

/* Mobile layout */
@media (max-width:600px){

  .hamburger{
    display:block;
  }

  .sidebar{
    position:fixed;
    top:0;
    left:-260px;
    height:100vh;
    z-index:1000;
  }

  .sidebar.open{
    left:0;
  }

  .close-btn{
    display:block;
  }

  .mobile-topbar{
    display:flex;
  }

    .profile-menu{
    display:block;
  }

  .side-link{
    white-space:nowrap;
  }
}
