/* Center nav headings */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #0F766E;
  cursor: pointer;
  padding: 6px 4px;
  transition: 0.2s ease;
}



.nav-link:hover {
  color: #1ABC9C;
  border-bottom: 2px solid #1ABC9C;
}

/* Right side actions */
.user-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Icon buttons */
.icon-btn {
  background: #F0FDFA;
  border: 1px solid #D1FAE5;
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-btn:hover {
  background: #A8E6CF;
}

.profile-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  background: #F0FDFA;
  border: 1px solid #D1FAE5;
  color:white;
  font-size:18px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.25s ease;
}

.profile-icon:hover{
  background:#16A085;
  box-shadow:0 6px 14px rgba(26,188,156,0.3);
}


/* ---------- Responsive Navbar ---------- */

/* Hamburger hidden on desktop */
.hamburger{
  display:none;
  background:none;
  border:none;
  font-size:24px;
  cursor:pointer;
  color:#0F766E;
}

/* Tablet & Mobile */
@media (max-width: 768px) {

  /* Hide nav headings by default */
    .nav-links{
    display:none;
    position:absolute;
    top:90px;
    left:0;
    width:100%;
    background:#F0FDFA;
    flex-direction:column;
    gap:15px;
    padding:20px;
    border-top:1px solid #D1FAE5;
  }

  /* Show when active */
   .nav-links.active{
    display:flex;
  }

  .hamburger{
    display:block;
  }

  .nav-link {
    padding: 10px 20px;
    font-size: 16px;
  }

  /* Show hamburger */
  /* .hamburger {
    display: flex;
    /* change from block to flex */
    /* align-items: center;
    justify-content: center; */
  /* } */ 

  .user-actions {
    gap: 10px;
    /* reduce spacing so everything fits */
  }

  /* Slightly smaller profile button */
  .profile-btn {
    height: 36px;
    padding: 0 14px;
    font-size: 13px;
  }

  .icon-btn, .profile-icon {
    background: #FFFFFF;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  /* .navbar{
    padding: 0;
  } */

  /* .logo-img {
    width: ;
  } */
}