.navbar{
  width:100%;
  height:90px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 40px;

  background:transparent;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

.navbar.scrolled{
  background:rgba(240,253,250,0.9);
  backdrop-filter:blur(10px);
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.logo-img{
  height:70px;
}

.login-btn{
  background:#14b8a6;
  color:white;
  font-size:18px;
  font-weight:700;
  padding:10px 24px;
  border:none;
  border-radius:10px;
  cursor:pointer;

  width:auto;
  max-width:max-content; /* important */
}

.login-btn:hover{
  background:#0F766E;
}

@media(max-width:600px){
  .navbar{
    padding:0 20px;
    height:70px;
  }

  .logo-img{
    height:45px;
  }

  .login-btn{
    font-size:14px;
    padding:8px 16px;
  }
}
