*{
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

/* Section */
.services{
  padding:100px 30px;
  background:linear-gradient(180deg,#F0FDFA,#ECFEFF);
  text-align:center;
}

.services h2{
  font-size:36px;
  font-weight:700;
  color:#0F766E;
  margin-bottom:60px;
}

/* Grid */
.service-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:32px;
  max-width:1200px;
  margin:auto;
}

/* Card */
.card{
  background:rgb(255, 255, 255);
  backdrop-filter:blur(8px);
  border-radius:26px;
  padding:48px 24px;
  box-shadow:0 18px 40px rgba(0,0,0,0.08);
  transition:all 0.4s ease;
  cursor:pointer;
  position:relative;
  overflow:hidden;
}

/* Gradient glow on hover */
.card::after{
  content:"";
  position:absolute;
  inset:0;
  /* background:linear-gradient(120deg,transparent,#c0d5cd,transparent); */
  /* background:#000000; */
  opacity:0;
  transition:0.4s;
}

.card:hover::after{
  opacity:1;
}

/* Lift effect */
.card:hover{
  transform:translateY(-14px) scale(1.02);
  box-shadow:0 30px 70px rgba(26,188,156,0.35);
}

/* Icon */
.icon-circle{
  width:90px;
  height:90px;
  margin:0 auto 26px;
  background:linear-gradient(135deg,#0f806a,#1bac77);
  color:white;
  font-size:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  box-shadow:0 10px 22px rgba(26,188,156,0.45);
  transition:0.4s ease;
}

/* Icon animation */
.card:hover .icon-circle{
  transform:rotate(8deg) scale(1.1);
}

/* Text */
.card-text{
  font-size:18px;
  font-weight:600;
  color:#0F766E;
  letter-spacing:0.3px;
}

/* ===================== */
/* 📱 Tablet */
@media(max-width:1000px){
  .service-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

/* ===================== */
/* 📱 Mobile */
@media(max-width:600px){
  .services{
    padding:70px 20px;
  }

  .services h2{
    font-size:30px;
    margin-bottom:40px;
  }

  .service-grid{
    grid-template-columns:1fr;
    gap:24px;
  }

  .card{
    padding:40px 20px;
  }

  .icon-circle{
    width:75px;
    height:75px;
    font-size:34px;
  }
}
